/* Body */
body{
    font-size: 20px;
    background-color: #000000;
}

/* Body Container*/
.body-container {
   text-align: center;
   padding: 7% 10%;
}

/* Foot Container */
.foot-container {
   background-color: #D65A31;
   text-align: center;
   padding: 2% 15% 1% ;
   min-height:10vh;
}

.foot-container p {
    font-size: 20px;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

hr{
  border-top: 3px solid #fff;
  color:white;
  margin: 1px 0;
}

/* Page */
.page{
    min-height:89vh;
    padding: 5%;
    margin:auto;
    text-align:center;
}
.page-inside{
    text-align:center;
}
.page-title{
    font-family: PriceDown Black;
    font-size: 5rem;
    color: white;
}
/* Section */
.section-row-1{
}
.section-row-2{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
/* Main Page */
.main_page-inside img{
    margin: 1%;
    border-radius: 20px;
    width: 20rem;
}

.main_page a button{
   font-family: Neuton-Bold;
   font-size:35px;
   text-decoration:none;
   background-color:#31663D;
   color:#EBC24E;
}
.main_page a button:hover{
   background-color:#EBC24E;
   color:#31663D;
}
.main_page a{
    text-decoration:none;
}
/* Login Page */
.login-page{
      padding-top: 10rem;
      position: relative;
}
.login-page-inside{
    height: 100%;
    position: relative;
}
.login-page form{
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: 0 auto;

}
.login-page form label{
    font-family: Neuton-Bold;
    font-size:35px;
    color:white;
    margin: 0.3rem;
}
.login-page form #submit{
    margin-top: 30px;
    font-size:25px;
    font-family: Georgia, serif;
    display: block;
    width:100%;
}

/* Rule Page */
.rule-page{
    padding-top: 3rem;
}
.rule-title{
    font-size:10rem;
    padding-bottom: 8rem;
    border-bottom: 2px solid #73ac05;
}
.rule-section{
    font-family: 'Open Sans', sans-serif;
    text-align:left;
    padding:1rem;
    font-weight:500;
}
/* Content Img */
.content-img{
    display:block;
    margin:auto;
}
/* Section */
.section-row-outside{
    margin: 0.5rem 1rem 1rem;
}

.section-row-2{
    padding-top:0.5rem;
    text-align:justify;
}
.rule-section .card{
    background-color:#444;
}
.rule-section h2{
    color: #54D1B3;
}
.rule-section p{
    color: #ddd;
}
strong{
    font-weight:800;
    color:#AF69EF;
}
.rule-section img{
    border-radius: 20px;
    width: 30rem;
}
.rule-section .img-right{
}
.rule-section .img-left{

    margin-right: 2rem;
}
.aware{
    color:#E36067;
}
.align-left-text{
    padding-right:3rem;
}
.card-value-title{
    min-width: 340px;
    max-width: 30%;
    margin: 10px 0;
    padding: 8px 70px 8px 20px;
    font-size: 25px;
    line-height: 30px;
    color: #fff;
    background: linear-gradient(-135deg,#fff 30px,#1c2d44 30px);
    background-image: linear-gradient(-135deg, rgb(0, 0, 0) 30px, rgb(28, 45, 68) 30px);

}
.card-value-body{
    min-height: 20rem;
    padding-right:2rem;
    padding-left:2rem;
}
.rule-section .clip-card-img{
    border-radius: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin:1rem 0rem;
}
.rule-section h4{
    color: #54D1B3;
}
.rule-section .number-card{
    margin-right: 1.5rem;
}
.rule-section .face-card{
    margin-right: .75rem;
    margin-left: .75rem;
}
.rule-section .a-card{
    margin-left: 1.5rem;
}
.rule-section .stand-img{
    border-radius: 32px;
}
.choice-block{
    position:relative;
}
.rule-section .choice-content{
    min-height: 50%;
    position:relative;
}
.rule-section .choice-alert{
    min-height: 30%;
    padding-right:3rem;
    position:absolute;
    bottom: 0;
}
/* Leave button */
.leave-button{
    margin: 2rem 0rem 0rem;
}
.leave-button button{
   font-family: Neuton-Bold;
   font-size:35px;
   padding: 0.5rem 5rem;
   background-color:#31663D;
   color:#EBC24E;
}
.leave-button button:hover{
   background-color:#1D5229;
   color:#EBC24E;
}
.login-page .leave-button, .room-page .leave-button{
    position:absolute;
}
.login-page .leave-button{
    bottom:3rem;
}
.room-page .leave-button{
    bottom:10rem;
}
/*Alert */
.alert-dark p{
    color:#000;
}
.alert .hand-gesture{
    color:#000;
}

/* Setting Page */
.setting-page, .login-page{
      padding-bottom: 2rem;
}
.setting-page{
    padding-top: 6rem;
}
.setting-page form{
      width: 100%;
      max-width: 600px;
      padding: 15px;
      margin: 0 auto;
      text-align:left;
}
.setting-page form label{
    font-family: Neuton-Bold;
    font-size:35px;
    color:white;
    margin: 0.5rem;
}
.setting-page form #submit{
    margin-top: 30px;
    font-size:25px;
    font-family: Georgia, serif;
    display: block;
    width:100%;
}

.setting-page .leave-button{
    margin-top: 1rem;
}
.setting-page output{
    font-family: Neuton-Bold;
    font-size:35px;
    color:white;
    margin-left: 0.5rem;
}

.round-checkbox {
  position: relative;
}

.round-checkbox label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round-checkbox label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round-checkbox input[type="checkbox"] {
  visibility: hidden;
}

.round-checkbox input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round-checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.setting-checkbox p{
    margin-bottom: 0rem;
}
.setting-checkbox .setting-checkbox-col-2{
    padding-top: 1rem;
}
/* submit-alert */
.submit-alert{
font-size: 30px;
    font-family: Neuton-Bold;
    color:#EBC24E
}
/* Table Page */
.table-page{
    padding:2% 4% 1%;
}
.table-title-padding {
    text-align:center;
}
.table-page .page-title{
    margin-top: 1%;
    margin-bottom: 2%;
}
.table-page .table-name{
    width: 15%;
    padding:1%;
    border: solid 5px;
    font-size: 2rem;
}
.table-page .table-capability{
    font-size: 40px;
    color: #EBC24E;
}
.table-col-1{
    padding: 0 1.5rem 0 2rem;
}
.table-col-2{
    padding: 0 2rem 0 1rem;
}
.table{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height:40rem;
    border-radius: 10px;
}
.table-rule{
    border: 2px;
    min-height:37rem;
}
.dark-background{
    min-height:37rem;
}

.inner-border {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height:37rem;
}

.outer-border {
	border: 2px solid #DE9B72;
   	height: 99%;
    width: 98%;
    padding: 6px;
    margin: 0 auto;
    min-height:37rem;
}

.mid-border {
    border: 6px solid #DE9B72;
    height: 100%;
    width: 100%;
    padding: 6px;
    margin: auto;
}

.inner-border {
	position: relative;
	border: 2px solid #DE9B72;
    height: 100%;
    width: 100%;
    margin: auto;
}
.inner-border h1{
	color:white;
	font-family: 'Fasthand', cursive;
	font-size: 50px;
}
.inner-border p{
	color:white;
	font-family: Neuton-Bold;
	font-size: 28px;
	text-align:left;
	padding:0 1rem;
}

.player-status-content p{
	margin-bottom:0;
	padding:0;
	padding-right:1rem;
	text-align:right;
	font-family: Neuton-Bold;
	font-size: 28px;
	color:#EBC24E;
}
/* Decorations */
.corner-decoration {
	position: absolute;
    width: 3em;
    margin: -3px;
}

.corner-decoration.corner-left-top {
	left: 0;
	top: 0;
}

.corner-decoration.corner-right-top {
	top: 0;
	right: 0;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.corner-decoration.corner-right-bottom {
	right: 0;
	bottom: 0;
	-webkit-transform: scale(-1);
  	transform: scale(-1);
}

.corner-decoration.corner-left-bottom {
	left: 0;
	bottom: 0;
	-webkit-transform: scaleY(-1);
  	transform: scaleY(-1);
}
.table .card-content{
    position:relative;

}
.table .player-status-content{
    position:absolute;
    right:0;
}
.table-page .leave-button{
    margin: 3rem 3rem 0;
    bottom:3rem;
}
.table .poker-card{
    height: 10rem;
}
.table .player-name{
    font-family: 'Anton', sans-serif;
    font-weight:400;
    color:#652A0E;
}
.game-status-row{
    min-height:40rem;
}

/* status-row */
.game-status-row, .banker-status-row, .player-dialog-row, .player-cards-row{
    position:relative;
}
.banker-status-row {
    min-height:19rem;
}

.player-cards-row{
    min-height:11rem;
}
.player-cards-row .poker-card{
    position:absolute;
    bottom:1rem;
}
.player-cards-row .card-result{
    position:absolute;
    text-align:left;
}
.player-cards-row .card-result-bust{
    top:3.4rem;
}
.player-cards-row .card-result-blackjack{
    top:2rem;
}
.bust-alarm{
    font-family: 'Bangers', cursive;
    color: red;
}
.blackjack-alarm{
    font-family: BLKCHCRY;
    font-size:25px;
    color: black;
}
.blackjack-alarm .alphabet{
    font-size:50px;
    color: #EBC24E;
}
.blackjack-alarm .spade-emoji{
    font-size:70px;
    color: black;
}
.player-dialog-row{
    min-height:9rem;
}

.banker-status-row .poker-card{
    position:absolute;
    top:1rem;
}
/* Player Dialog */

.leftAlign{
    padding:0;
    position:absolute;
    text-align:left;
}
.mainDialog {
  background-clip: padding-box;
  background-color: #432616;
  border-width: 6px;
  border-style: solid;
  border-image: url("/static/img/border.gif");
  border-image-repeat: repeat;
  border-image-slice: 10;
  border-image-width: 14px;
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  image-rendering: crisp-edges;
  padding: 8px;
  text-shadow: 2px 2px 1px black;
}

.dialogContainer {
  display: inline-block;
  position: relative;
}

.moreTextIcon {
  position: absolute;
  left: calc(100% - 36px);
  animation-duration: 1s;
  animation-name: moreTextIcon;
  animation-iteration-count: infinite;
}

@keyframes moreTextIcon {
  from {
    top: calc(100% - 32px);
  }

  to {
    top: calc(100% - 26px);
  }
}

/* Dialog */

.dialog-name{
    position:absolute;
    bottom:0.1rem;
}
.dialog-content{
    position:relative;
    min-height:6rem;
    top:4rem;
    left:23rem;
}
.banker-dialog{
    position:absolute;
}
.banker-dialog-name{
    min-height:6.5rem;
    left:23.5rem;
}
.player-dialog-name{
    min-height:4rem;
}

/* Insurance choice */
.insurance-choice{
    color:#FFF;
    text-decoration:none;
}
.insurance-choice:hover{
    color:#FF7D7D;
}
/* Player control panel */
.control-panel .gestures{
    margin: 1rem 0rem;
    height: 10rem;
    background-color:#A74737;
    border-radius:30%;
}
.control-panel .gestures:hover{
    background-color:#892919;
}
.control-panel .gestures-stand, .control-panel .gestures-surrender{
    background-color:#2A6062;
}

.control-panel .gestures-stand:hover, .control-panel .gestures-surrender:hover{
    background-color:#1A4C4E;
}

.yellow-arrow{
    position:absolute;
    bottom: 0;
    height: 4rem;
    width: 3.5rem;
    animation-duration: 1.5s;
    animation-name: yellow-arrow;
    animation-iteration-count: infinite;
}

@keyframes yellow-arrow {
  from {
    top: calc(100% - 70px);
  }

  to {
    top: calc(100% - 60px);
  }
}

.waiting-alarm{
    position:absolute;
    top:15rem;
    width: 50%;
    margin:0 25%;

    text-align:center;
    font-family: PriceDown Black;

    color:white;
    background-color:#444;

    border: solid 5px;
    border-radius:1rem;
    padding: 3% 0;

}
.waiting-alarm h1{
    font-family: 'Oswald', sans-serif;
    padding:0 0 0.5rem;
    margin:0;
    font-size: 2rem;
}
.waiting-alarm button{
    font-family: PriceDown Black;
    font-size: 2rem;
}
/* Room */
.room-page{
    padding:1.5rem;
}
.room-page .room-col{
    margin:2rem 0;
}
.room-page .dark-background, .room-col .outer-border, .room-col .inner-border{
    min-height:20rem;
}
.room-img{
    height: 20rem;
}
.room-border{
    text-align:center;
}
.room-page .room-name{

    margin-left:auto;
    margin-right:auto;

    padding:1%;
    top: 0.5rem;
    left: 0;
    right: 0;

    width: 14rem;
    min-width: 14rem;

    border: solid 5px white;
    color:white;
    font-size: 2rem;
    position:absolute;
}
.room-page .room-capability{
    font-size: 30px;
}
.room-page .build-room{
    width: 14rem;
}
.room-img{
    height: 20rem;
}
.room-page .build-room-img{
    object-fit: contain;
}
.room-page .room-name-type-1{
    border: solid 5px #444;
    color:#444;
}
.room-page .room-name-type-1 span{
    color:#EBC24E;
}
.room-page .room-name-type-2{
    border: solid 5px white;
    color:white;
}
.room-page .room-name-type-2 span{
    color:#444;
}
/* Flash */
.flash{
    color:red;
}