{% include "header.html" %}

<!-- Page Header -->
<h1>Flask-SocketIO-Chat: {{ room }}</h1>
<h1>Banker</h1>

{% for card in banker %}
<h2>{{ card.symbol }} {{ card.suit }}</h2>
{% endfor %}

{% for player in players %}
<h1>Player {{player.get_name()}}</h1>
<h2>Money {{player.get_money()}}</h2>
<h2>Basic Stake {{player.get_basic_stake()}}</h2>
<h2>Total Stake {{player.get_total_stake()}}</h2>
{% for hand in player.hands %}
{% for card in hand.cards %}
<h2>{{ card.symbol }} {{ card.suit }}</h2>
{% endfor %}
<h2>-------------------------</h2>
{% if player.id == current_user.id and not game_end %}
{% if ask_insurance %}
<h2>Want to buy an insurance?</h2>
<a href="{{ url_for('game_route.insurance',player_id=player.id, answer=1) }}"><h2>Yes</h2></a>
<a href="{{ url_for('game_route.insurance',player_id=player.id, answer=0) }}"><h2>No</h2></a>
{% else %}
{% if player.get_able_double() %}
<a href="{{ url_for('game_route.double',player_id=player.id) }}"><h2>Double</h2></a>
{% endif %}
{% if hand.get_able_split() and not hand.get_is_finish()%}
<a href="{{ url_for('game_route.split',player_id=player.id,hand_id=hand.id) }}"><h2>Split</h2></a>
{% endif %}
{% if hand.get_is_hit() %}
<a href="{{ url_for('game_route.hit',player_id=player.id,hand_id=hand.id) }}"><h2>Hit</h2></a>
{% endif %}
{% if not hand.get_is_finish() %}
<a href="{{ url_for('game_route.stand',player_id=player.id,hand_id=hand.id) }}"><h2>Stand</h2></a>
{% endif %}
{% if player.get_able_fold() %}
<a href="{{ url_for('game_route.fold',player_id=player.id) }}"><h2>Fold</h2></a>
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% for player in players %}
{% if player.id == current_user.id and game_end %}
<h1>Game is End</h1>
{% for hand in player.hands %}
<h2>{{ hand.result }}</h2>
{% endfor %}
<a href="{{ url_for('game_route.reset') }}">
    <button>Continue</button>
</a>
{% endif %}
{% endfor %}

<a href="{{ url_for('game_route.logout') }}" onclick="leave_room();">
    <button>Leave</button>
</a>
{% include "footer.html" %}