{% include "header.html" %}

<!-- Page Header -->
<h1>Banker</h1>

{% for card in banker %}
<h2>{{ card.symbol }} {{ card.suit }}</h2>
{% endfor %}

{% for player in players %}
<h1>Player {{player.get_id()}}</h1>
<h2>Money {{player.get_money()}}</h2>
<h2>Basic Stake {{player.get_basic_stake()}}</h2>
<h2>Total Stake {{player.get_total_stake()}}</h2>
{% for hand in player.hands %}
{% for card in hand.cards %}
<h2>{{ card.symbol }} {{ card.suit }}</h2>
{% endfor %}
<h2>-------------------------</h2>
{% if ask_insurance %}
<h2>Want to buy a insurance?</h2>
<a href="{{ url_for('table.insurance',player_id=player.id, answer=1) }}"><h2>Yes</h2></a>
<a href="{{ url_for('table.insurance',player_id=player.id, answer=0) }}"><h2>No</h2></a>
{% else %}
<a href="{{ url_for('table.double',player_id=player.id) }}"><h2>Double</h2></a>
<a href="{{ url_for('table.split',player_id=player.id,hand_id=hand.id) }}"><h2>Split</h2></a>
<a href="{{ url_for('table.hit',player_id=player.id,hand_id=hand.id) }}"><h2>Hit</h2></a>
<a href="{{ url_for('table.stand',player_id=player.id,hand_id=hand.id) }}"><h2>Stand</h2></a>
{% endif %}
{% endfor %}
{% endfor %}
{% if game_end %}
<h1>Game is End</h1>
{% endif %}
<a href="{{ url_for('home') }}">
    <button>Leave</button>
</a>
{% include "footer.html" %}