{% include "header.html" %}

<!-- Page Header -->
<div class="page main_page d-flex justify-content-center align-items-center container-fluid">
    <div class="page-inside main_page-inside">
        <h1 class="m-3 page-title">BlackJack ♠️</h1>
        <img class="m-3" src="{{ url_for('static',filename='img/blackjack-icon.jpg') }}">
        <div class="d-flex justify-content-center gap-3 m-1">
            <a href="{{ url_for('game_route.login') }}">
                <button class="btn btn-dark px-2 pt-1 m-1">Start</button>
            </a>
            <a href="{{ url_for('game_route.rule') }}">
                <button class="btn btn-dark px-2 pt-1 m-1">Rule</button>
            </a>
        </div>
    </div>
</div>

{% include "footer.html" %}