{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
<div class="page setting-page container-fluid mx-auto">
    <div class="page-inside setting-page-inside">
        <h1 class="page-title">Setting</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="flash">{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST" action="{{ url_for('game_route.create_room') }}" novalidate>
            {{ setting_form.csrf_token }}
            <p>
                {{ setting_form.room.label }} {{ setting_form.room() }}
            </p>
            <p>
                {{ setting_form.decks.label }} {{ setting_form.decks(oninput="this.nextElementSibling.value =
                this.value") }}
                <output>4</output>
            </p>
            <p>
                {{ setting_form.players.label }} {{ setting_form.players(oninput="this.nextElementSibling.value =
                this.value") }}
                <output>4</output>
            </p>
            <p>
                {{ setting_form.min_bet.label }} {{ setting_form.min_bet(oninput="this.nextElementSibling.value =
                this.value") }}
                <output>5</output>
            </p>
            <p>
                {{ setting_form.bj_ratio.label }} {{ setting_form.bj_ratio(oninput="this.nextElementSibling.value =
                this.value") }}
                <output>1.5</output>
            </p>
            <div class="d-flex flex-row setting-checkbox">
                <div class="d-flex flex-col setting-checkbox-col-1">
                    <p>{{ setting_form.is_insurance.label }}</p>
                </div>
                <div class="d-flex flex-col setting-checkbox-col-2">
                    <div class="round-checkbox">
                        {{ setting_form.is_insurance(id="checkbox-1", checked=True) }}<label
                            for="checkbox-1"></label>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row setting-checkbox">
                <div class="d-flex flex-col setting-checkbox-col-1">
                    <p>{{ setting_form.is_over_10.label }}</p>
                </div>
                <div class="d-flex flex-col setting-checkbox-col-2">
                    <div class="round-checkbox">
                        {{ setting_form.is_over_10(id="checkbox-2", checked=False) }}<label
                            for="checkbox-2"></label>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row setting-checkbox">
                <div class="d-flex flex-col setting-checkbox-col-1">
                    <p>{{ setting_form.is_double.label }}</p>
                </div>
                <div class="d-flex flex-col setting-checkbox-col-2">
                    <div class="round-checkbox">
                        {{ setting_form.is_double(id="checkbox-3", checked=True) }}<label
                            for="checkbox-3"></label>
                    </div>
                </div>
            </div>

            {{ setting_form.submit(class_="btn btn-primary") }}
        </form>
        <div class="row">
            <div class="col-lg-10">
            </div>
            <div class="col-lg-2">
                <div class="leave-button">
                    <a href="{{ url_for('game_route.room_map') }}">
                        <button class="btn btn-secondary btn-lg">Leave</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}
{% endblock %}