<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 id="countDown"></h1>
<h1>Waiting for RoomOwner to confirm</h1>
<a href="{{ url_for('game_route.wait') }}"><h1>Start</h1></a>
</body>
<script>

function startTimer(duration, display){
    var timer = duration;

    setInterval(function() {
        console.log("123")
        display.textContent = timer;
        timer--;
        if (timer < 0){
            display.textContent = "The End";
             window.location.href = "{{ url_for('game_route.wait') }}";
        }
    }, 1000)
}

window.onload  = function() {
    console.log("123")
    var fiftySecond = 15, display= document.querySelector('#countDown');
    startTimer(fiftySecond, display);
};
</script>
</html>