{% include "header.html" %}
<h1>Waiting for RoomOwner to confirm<span id="countDown">5</span></h1>
<a href="{{ url_for('game_route.wait') }}">
    <h1>Start</h1>
</a>

<script>
function startTimer(duration, display){
    var timer = duration;

    setInterval(function() {
        display.textContent = timer;
        if (--timer < 0){
            display.textContent = "The End";
             window.location.href = "{{ url_for('game_route.wait') }}";
        }
    }, 1000)
}

window.onload  = function() {
    var fiftySecond = 5, display= document.querySelector('#countDown');
    startTimer(fiftySecond, display);
};
</script>
{% include "footer.html" %}